html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1 {
  font-size: 1rem;
}
