.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.25rem;
  background-color: teal; //$primary

  .navitem {
    position: relative;
    height: 35px;
    padding: 5px 50px;
    background-color: teal; //$primary
    transition: background-color 250ms ease-in-out;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: red; //$secondary
      border-radius: 0 0 10px 10px;
      height: 5px;
      bottom: -5px;
      right: 0;
      left: 0;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }

    &:hover {
      background-color: lighten(red, 35%); //$secondary
      &::after {
        opacity: 100%;
      }
    }
  }
}
